<section class="comojugar">
   <div>
    <h1>Como se juega</h1>
    <p>Secuestraron a la esposa de un hombre, ayudaló a encontrarla
       Para encontrarla, deberás acompañarlo a través de una serie de salas virtuales. 
        Cada sala presenta un enigma diferente: una pista, un código oculto, un mensaje críptico o un acertijo lógico. 
        Solo si resolvés correctamente lo que cada sala te pide, podrás avanzar a la siguiente.</p>
</div>
<div>
  <h3><a href='@Url.Action("Index","Home" )' alt = "volver ">Volver a sala principal </a></h3>
  <h3><a href='@Url.Action("InicializarAcertijo", "Home")' alt = "comenzar ">Comenzar juego </a></h3>
</div>
</section>

