@{
    ViewData["Title"] = "final";
}
<div>
 <h1>Felicitaciones, lograste recuperala</h1>
 <img src="esposos.jfif" alt="Foto espsos">
</div>

<div>
  <h3><a href='@Url.Action("Index", "Home")' alt = "volver ">Volver a sala principal </a></h3>
</div>