<section class="index">
 <div>
    
    <p>Bienvenidos a la mejor sala de escape!</p>
</div>
<div>
<div class="menu">
<h3><a href='@Url.Action("InicializarAcertijo", "Home")' alt = "Empezar juego ">Comenzar </a></h3>
<h3><a href='@Url.Action("comoJugar", "Home")' alt = " Como se juega ">Como se juega </a></h3>
<h3><a href='@Url.Action("participantes", "Home")' alt = " participantes ">Quienes somos </a></h3>

</div>
</section>





