@{
    ViewData["Title"] = "Index";
}

<div>
    <h1>Index</h1>
    <p>Bienvenidos a la mejor sala de escape</p>
</div>
<div>

<h3><a href='@Url.Action("Sala123", "Home")' alt = "Empezar juego ">Comenzar </a><h3>
<h3><a href='@Url.Action("comoJugar", "Home")' alt = " Como se juega ">Comenzar </a><h3>
<h3><a href='@Url.Action("participantes", "Home")' alt = " participantes ">Comenzar </a><h3>

</div>
