<section class="PARTICIPANTES">
   
    <h1>participantes</h1>
 <div class="galeria">
   <div>
 <img src="~/imagenes/Abas.jpg" alt="Fede abas "  />
       <p>Federico Abas</p>
      
    </div>
       <div>
  <img src="~/imagenes/Shoffer.png" alt="Ivo Shoffer "  />
       <p>Ivan Shoffer </p>
      
    </div>
    </div>
    <h3><a href='@Url.Action("Index", "Home")' alt = "volver ">Volver </a></h3>
</section>

