@{
    ViewData["Title"] = "participantes";
}

<div>
    <h1>participantes</h1>
</div>
   <div>
   <img src="Abas.heic" alt="Foto abas">
       <p>Federico Abas</p>
      
    </div>
       <div>
   <img src="Shoffer.png" alt="Foto Shoffer">
       <p>Ivan Shoffer </p>
      
    </div>
    <h3><a href='@Url.Action("Index", "Home")' alt = "volver ">Volver </a><h3>