<section class="participantes">
   
    <h1>participantes</h1>

   <div>
 <img src="~/imagenes/Abas.jpg" alt="Fede abas " width="200" />
       <p>Federico Abas</p>
      
    </div>
       <div>
  <img src="~/imagenes/Shoffer.png" alt="Ivo Shoffer " width="200" />
       <p>Ivan Shoffer </p>
      
    </div>
    <h3><a href='@Url.Action("Index", "Home")' alt = "volver ">Volver </a></h3>
</section>

