
<section class="sala1">
   <p>Observa los siguientes pasaportes y responde: ¿En que país se encuentra el secuestrador?</p>
<form action = '@Url.Action("Sala1234", "Home")' method ="POST" > 
 Ingrese la respuesta:<input type = "text" name= "respuesta"/>
 <input type= "submit" name= "guardar"/>
 </form>    
<div class="imagenes-container">
    <div>
        <img src="~/imagenes/Pasaporte1.png" alt="Pasaporte 1"  />
    </div>
    <div>
        <img src="~/imagenes/Pasaporte2.png" alt="Pasaporte 2"  />
    </div>
    <div>
        <img src="~/imagenes/Pasaporte3.png" alt="Pasaporte 3"  />
    </div>
    <div>
        <img src="~/imagenes/Pasaporte4.png" alt="Pasaporte 4" />
    </div>
    </div>
    <a href='@Url.Action("Sala1234","Home", new { pista=true})'> Pista</a>

@if(ViewBag.pista != null)
{<h3>@ViewBag.pista</h3>}


</section>






