<p>Observa las siguientes imagenes y responde: ¿En que ciudad se esconde el secuestrador?</p>
<p>Observa los siguientes pasaportes y responde: ¿En que país se encuentra el secuestrador?</p>
<form action = '@Url.Action("Sala1234", "Home")' method ="POST" > 
 Ingrese la respuesta:<input type = "text" name= "respuesta"/>
 <input type= "submit" name= "guardar"/>

    <div>
        <img src="~/imagenes/limon.png" alt="foto 1"  />
    </div>
    <div>
        <img src="~/imagenes/iglu.png" alt="foto 2"  />
    </div>
    <div>
        <img src="~/imagenes/lampara.png" alt="foto 3"  />
    </div>
    <div>
        <img src="~/imagenes/lapiz.png" alt="foto 4"  />
    </div>
    <div>
        <img src="~/imagenes/elefante.png" alt="foto 5" />
    </div>
</div>
<form action = '@Url.Action("Sala1234", "Home")' method ="POST" >
 <input type = "text" name= "respuesta"/>
 <input type= "submit" name= "guardar"/>
 </form>    