

<p>Observa los siguientes pasaportes y responde: ¿En que país se encuentra el secuestrador?</p>
<form action = '@Url.Action("Sala1234", "Home")' method ="POST" > 
 Ingrese la respuesta:<input type = "text" name= "respuesta"/>
 <input type= "submit" name= "guardar"/>
 </form>    

    <div>
        <img src="~/imagenes/Pasaporte1.png" alt="Pasaporte 1"  />
    </div>
    <div>
        <img src="~/imagenes/Pasaporte2.png" alt="Pasaporte 2"  />
    </div>
    <div>
        <img src="~/imagenes/Pasaporte3.png" alt="Pasaporte 3"  />
    </div>
    <div>
        <img src="~/imagenes/Pasaporte4.png" alt="Pasaporte 4" />
    </div>



